.env
*.env
!*.env.example

node_modules/
dist/
build/
.astro/

apps/pocketbase/pb_data/
apps/pocketbase/pocketbase
apps/pocketbase/pb_snapshots/

*.log
.DS_Store
Thumbs.db
*.env.bak*
.env.bak*
.env.example.bak*

# Backups temporales
*.bak
*.bak*
