PORT=3001
CORS_ORIGIN=https://todosobreall.tech
POCKETBASE_HOST=http://pocketbase:8090
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHANNEL_ID=
CAS_API_URL=https://cas.chat/api/blocked-users
ENCRYPTION_KEY=
PB_SUPERUSER_EMAIL=
PB_SUPERUSER_PASSWORD=
